@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline removed due to unknown rule */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* Add this to your global CSS file */
.dropdown {
    position: relative;
    display: inline-block;
}
.small-menu {
    background: none;
    border-bottom: 1px groove white;
    box-shadow: 5px 5px 2px rgb(23 36 52 / 5%);
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 10px;
    color: #032303;
    min-width: 15rem;
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 50;
    padding: 0;
    border: none;
    animation: slidedown 0.4s ease 1;
    display: block;
}
@keyframes slidedown {
    0% { transform: translateY(40px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}
.dropdown:hover .small-menu {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    display: block !important;
}
.small-menu a {
    display: block;
    color: #032303;
    background: #fff;
    font-weight: 500;
    font-size: 13px;
    border-bottom: 1px groove rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 2px #7eaf58;
    transition: 0.5s ease;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}
.small-menu a:hover {
    color: #000 !important;
    background: #7eaf58;
}


.about-shadow {
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.about-shadow:hover {
  transform: scale(1.05);
}



.inner {
  background: #f5f5f5;
  color: #6f6f6f;
}

.health:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fhealth.JPG?alt=media&token=e9c6594b-c448-4151-baa4-5499b80e36d9);
   background-position:center;
  background-size:cover;
}

 .serv button{
  border-bottom: 2px solid #000;
 }

.inner:hover > .serv {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.inner:hover > .serv p{
  color: #fff;
}

.inner:hover > .serv button{
  color: #fff;
  border-bottom: 2px solid #fff;
}

.education:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Feducation.jpg?alt=media&token=c12a278e-e687-436e-b6fe-0fb7982c4660);
   background-position:center;
  background-size:cover;
}

.production:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fproduction.jpg?alt=media&token=703b1f4b-987a-48ba-9b75-04ccf22f4419);
   background-position:center;
  background-size:cover;
}

.media:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fmedia.jpg?alt=media&token=53372370-7aa8-4659-a3a0-ec75f2ae25f4);
   background-position:center;
  background-size:cover;
}

.technical:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Ftechnical.jpg?alt=media&token=7646317c-4cbb-4b5b-a6da-45cab67b78ac);
   background-position:center;
  background-size:cover;
}

.volunteer:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fvolunteer.jpg?alt=media&token=a3086fda-ab1b-4e61-90cd-8d2c10e5ceaf);
   background-position:center;
  background-size:cover;
}

.corporate:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fcorporate.jpg?alt=media&token=0087108c-1ed8-4999-b8f2-4a288351a835);
   background-position:center;
  background-size:cover;
}

