@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline removed due to unknown rule */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* Add this to your global CSS file */
.dropdown {
    position: relative;
    display: inline-block;
}
.small-menu {
    background: none;
    border-bottom: 1px groove white;
    box-shadow: 5px 5px 2px rgb(23 36 52 / 5%);
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 10px;
    color: #032303;
    min-width: 15rem;
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 50;
    padding: 0;
    border: none;
    animation: slidedown 0.4s ease 1;
    display: block;
}
@keyframes slidedown {
    0% { transform: translateY(40px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}
.dropdown:hover .small-menu {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    display: block !important;
}
.small-menu a {
    display: block;
    color: #032303;
    background: #fff;
    font-weight: 500;
    font-size: 13px;
    border-bottom: 1px groove rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 2px #7eaf58;
    transition: 0.5s ease;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}
.small-menu a:hover {
    color: #000 !important;
    background: #7eaf58;
}


.about-shadow {
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.about-shadow:hover {
  transform: scale(1.05);
}



.inner {
  background: #f5f5f5;
  color: #6f6f6f;
}

.health:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fhealth.JPG?alt=media&token=e9c6594b-c448-4151-baa4-5499b80e36d9);
   background-position:center;
  background-size:cover;
}

 .serv button{
  border-bottom: 2px solid #000;
 }

.inner:hover > .serv {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.inner:hover > .serv p{
  color: #fff;
}

.inner:hover > .serv button{
  color: #fff;
  border-bottom: 2px solid #fff;
}

.education:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Feducation.jpg?alt=media&token=c12a278e-e687-436e-b6fe-0fb7982c4660);
   background-position:center;
  background-size:cover;
}

.production:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fproduction.jpg?alt=media&token=703b1f4b-987a-48ba-9b75-04ccf22f4419);
   background-position:center;
  background-size:cover;
}

.media:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fmedia.jpg?alt=media&token=53372370-7aa8-4659-a3a0-ec75f2ae25f4);
   background-position:center;
  background-size:cover;
}

.technical:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Ftechnical.jpg?alt=media&token=7646317c-4cbb-4b5b-a6da-45cab67b78ac);
   background-position:center;
  background-size:cover;
}

.volunteer:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fvolunteer.jpg?alt=media&token=a3086fda-ab1b-4e61-90cd-8d2c10e5ceaf);
   background-position:center;
  background-size:cover;
}

.corporate:hover{
  background: url(https://firebasestorage.googleapis.com/v0/b/foundation-fm.firebasestorage.app/o/AMF%20Website%20Media%2Fcorporate.jpg?alt=media&token=0087108c-1ed8-4999-b8f2-4a288351a835);
   background-position:center;
  background-size:cover;
}


.slider{
    height: 70vh;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}



.gradient-bg {
  /* Linear: transparent at top, black at bottom */
  background: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.4) 100%);
}

@media (min-width: 450px) {
  .gradient-bg {
    background: radial-gradient(circle at 80% 10%, rgba(0,0,0,0.4) 60%, transparent 100%);
  }
}



/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    display: flex;
    align-items: center;
}
.nextPrevArrows button{
    background-color: #032303;
    border: none;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
    border: none;
}

@media screen and (max-width: 425px) {
.nextPrevArrows{
  top: 75%;
}

}
/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.7s cubic-bezier(0.4,0,0.2,1) 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.7s cubic-bezier(0.4,0,0.2,1) 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.vol-img{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.vol-img:hover{
    transform: scale(1.05);
}

.project-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mapouter{position:relative;text-align:right;width:100%;height:400px;}
.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}
.gmap_iframe {height:400px!important;}








